@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

img{
    display: block;
    width: 100%;
}

.logo{
    color: aliceblue;
}

.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #171C24;
    padding: 1.5rem 3rem;
}

.nav-list ul{
    display: flex;
    gap: 40px;

}

.nav-list a{
    color: aliceblue;
}

.mobile-menu-icon{
    display: none;
}

.mobile-menu{
    display: none;
}

@media(max-width:750px){

    .nav-item{
        display: none;
    }

    .mobile-menu-icon{
        display: block;
    }

    .mobile-menu-icon button{
        background-color:  transparent;
        border: none;
        cursor: pointer;
        color: aliceblue;
        font-size: 1.5rem;
    }

    .mobile-menu ul{
        display: flex;
        flex-direction: column;
        text-align: center;
        background-color: #171C24;
    }

    .mobile-menu ul a{
        color: aliceblue;
    }

    .mobile-menu .nav-item{
        display: block;
        padding: 1rem 2rem; 
    }

    .open{
        display: block;
    }
}
/**/

main{    
    background-color: #171C24;
}

.introducao{
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 100px;
    padding: 2rem;
    height: 65vh;
    max-width: 1400px;
    margin: 0 auto;
    color: white;
    text-align: center;
}

.introducao h1{
    margin-bottom: 1rem;
    font-size: 4rem;
}

.introducao h1::before{
    content: '';
    width: 2%;
    height: 5px;
    background-color: violet;
    display: inline-block;
    margin-right: 10px;
}

.introducao h1::after{
    content: '';
    width: 2%;
    height: 5px;
    background-color: violet;
    display: inline-block;
    margin-left: 10px;
}

.introducao p{
    margin-bottom: 2rem;
    font-size: 1.1rem;
}

.introducao a{
    background-color: aliceblue;
    color:black;
    padding: .5rem;
    border-radius: 5px;
}

.introducao a {
    font-size: 1.5rem;
}

@media(max-width:920px){
    
    .introducao h1{
        font-size: 3rem;
    }

    .introducao p{
        font-size: 1rem;
    }
}


@media(max-width:650px){

    .introducao{
        height: 60vh;
    }

    .introducao h1{
        font-size: 2rem;
    }

    .introducao a {
        font-size: 1.1rem;
    }
}

/**/

.fundo{
    text-align: center;
    background-color: #171C24;
}

.habilidades{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    max-width: 1500px;
    margin: 0 auto;
    padding-bottom: 1rem;
}

.habilidades div{
    display: grid;
    justify-content: center;
    gap: 20px;
    color:aliceblue ;
    padding: 1rem;
}

.habilidades div:hover{
    border: 1px solid aliceblue;
}

.habilidades i{
    color: aliceblue;
    font-size: 5rem;
}

.fundo h1{
    font-size: 3rem;
    padding: 4rem 0;
    color: aliceblue;
}

@media(max-width:650px){

    .habilidades {
        padding: 0 1rem;
    }

    .habilidades i{
        font-size: 1.3rem;
    }
}

/**/

.projetos{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    max-width: 1400px;
    margin: 0 auto;
 
}

.projetos div{
    display: grid;
    align-items: center;
    margin: 0 1rem;
    color: aliceblue;
}



@media(max-width:650px){

    .fundo h1{
        padding: 3rem 0;
        font-size: 1.5rem;
    }

    .projetos{
        grid-template-columns:1fr 1fr;
    }

    .projetos div{
        margin:  1rem;
        color: aliceblue;
    }
}

/**/

